.user-list {
  display: flex;
  align-items: center;
  margin-bottom: 0.7em;
  &:last-child{
    margin-bottom: 0;
  }

  .avatar {
    width: 45px;
    height: 45px;
  }

  .c-user{
    margin-right: 15px;
  }

  &__name {
    color: $color-titles;
    font-size: 0.95em;
    display: block;
    line-height: 1;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include hover-focus(){
      text-decoration: none;
    }
  }

  &__info {
    width: calc(100% - 60px);
    padding-left: 18px;
  }

  .btn {
    font-size: 0.88em;
    line-height: 1.3em;
    margin-top: 8px;
    padding: 0.3em 1.2em;
    border-radius: 30px;
    font-weight: 500;
  }

}
