.card-calification {
  .card__title {
    display: none;
  }
  &--loading {
    .add-calification {
      opacity: 0.5;
      cursor: default;
    }
  }
  &--voted {
    .card__title {
      display: block;
    }
    .add-calification {
      display: none;
    }
  }
}

