.dropdown {
  font-size: 15px;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  box-shadow: $shadow-level-2;
  z-index: 10;
  line-height: 1;
  min-width: 222px;
  transform-origin: top right;
  transform: scale(0.5);
  transition: $transition;
  opacity: 0;
  visibility: hidden;

  &__option {
    border-bottom: 1px solid $color-borders;
    display: flex;
    transition: $transition;
    padding: 12px 6px 12px 15px;
    &:last-child {
      border-bottom: 0;
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    &:first-child {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
    @include hover-focus-active {
      background-color: $sermadre-purple;
      color: #ffffff;
      .dropdown {
        &__icon, &__title, &__descrip {
          color: #ffffff;
        }
      }
    }
  }

  &__info {
    width: calc(100% - 40px);
  }

  &__icon {
    font-size: 1.4em;
    text-align: center;
    padding-right: 15px;
  }

  &__title {
    font-size: 1em;
    color: darken($color-txt, 15);
    font-family: $font-regular;
    margin-bottom: 5px;
  }

  &__descrip {
    font-size: 13px;
  }

  // Modificadores
  &.active{
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}