.container {
  width: 100%;
  max-width: 1076px;
  margin: 0 auto;
  padding: 0 16px;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 960px) {
  .container, .container-fluid {
    max-width: 720px;
  }
}