.links-footer {
  list-style: none;
  margin: 18px 0 0;
  font-size: 0.85em;
  line-height: 1.4em;
  li {
    display: inline-block;
    margin-right: 8px;
  }
  a {
    color: lighten($gray-600, 10);
  }
}

.legal-footer {
  font-size: 0.78em;
  font-family: $font-regular;
  margin-top: 16px;
  line-height: 1.4em;
  p {
    margin: 0;
  }
}