.color-specialist {
  color: $color-specialist;
}

.color-white {
  color: $white;
}

.color-principal{
  color: $color-titles;
}

.color-base{
  color: $color-txt;
}

.color-rose{
  color: $sermadre-rose;
}

.color-black{
  color: $black;
}

.color-purple {
  color: $sermadre-purple;
}
