.icon-foot:before {
  content: "\e965";
}

.icon-quality:before {
  content: "\e963";
}

.icon-stethoscope:before {
  content: "\e964";
}

.icon-chef:before {
  content: "\e900";
}

.icon-thermometer:before {
  content: "\e901";
}

.icon-messenger-o:before {
  content: "\e902";
}

.icon-whatsapp-o:before {
  content: "\e903";
}

.icon-alert-circle:before {
  content: "\e904";
}

.icon-alert-triangle:before {
  content: "\e905";
}

.icon-align-center:before {
  content: "\e906";
}

.icon-align-justify:before {
  content: "\e907";
}

.icon-align-left:before {
  content: "\e908";
}

.icon-align-right:before {
  content: "\e909";
}

.icon-arrow-bottom-m:before {
  content: "\e90a";
}

.icon-arrow-left:before {
  content: "\e90b";
}

.icon-arrow-left-m:before {
  content: "\e90c";
}

.icon-arrow-right-m:before {
  content: "\e90d";
}

.icon-arrow-top-m:before {
  content: "\e90e";
}

.icon-audio:before {
  content: "\e90f";
}

.icon-bell-mobile:before {
  content: "\e910";
}

.icon-blog:before {
  content: "\e911";
}

.icon-bold:before {
  content: "\e912";
}

.icon-calculator:before {
  content: "\e913";
}

.icon-calendar:before {
  content: "\e914";
}

.icon-check:before {
  content: "\e915";
}

.icon-clock:before {
  content: "\e916";
}

.icon-close:before {
  content: "\e917";
}

.icon-comment:before {
  content: "\e918";
}

.icon-comment-square:before {
  content: "\e919";
}

.icon-copy:before {
  content: "\e91a";
}

.icon-crosshair:before {
  content: "\e91b";
}

.icon-download:before {
  content: "\e91c";
}

.icon-edit:before {
  content: "\e91d";
}

.icon-edit-2:before {
  content: "\e91e";
}

.icon-edit-minimal:before {
  content: "\e91f";
}

.icon-external-link:before {
  content: "\e920";
}

.icon-external-link-2:before {
  content: "\e921";
}

.icon-facebook:before {
  content: "\e922";
}

.icon-facebook-line:before {
  content: "\e923";
}

.icon-file:before {
  content: "\e924";
}

.icon-film:before {
  content: "\e925";
}

.icon-filter:before {
  content: "\e926";
}

.icon-globe:before {
  content: "\e927";
}

.icon-google-plus:before {
  content: "\e928";
}

.icon-heart:before {
  content: "\e929";
}

.icon-heart-o:before {
  content: "\e92a";
}

.icon-help-circle:before {
  content: "\e92b";
}

.icon-home:before {
  content: "\e92c";
}

.icon-hostpital-building:before {
  content: "\e92d";
}

.icon-id-card:before {
  content: "\e92e";
}

.icon-instagram-line:before {
  content: "\e92f";
}

.icon-italic:before {
  content: "\e930";
}

.icon-lifeline-heart:before {
  content: "\e931";
}

.icon-link-2:before {
  content: "\e932";
}

.icon-list:before {
  content: "\e933";
}

.icon-log-out:before {
  content: "\e934";
}

.icon-mail:before {
  content: "\e935";
}

.icon-map-pin:before {
  content: "\e936";
}

.icon-maximize:before {
  content: "\e937";
}

.icon-megaphone:before {
  content: "\e938";
}

.icon-minimize:before {
  content: "\e939";
}

.icon-more-h:before {
  content: "\e93a";
}

.icon-more-v:before {
  content: "\e93b";
}

.icon-mortarboard:before {
  content: "\e93c";
}

.icon-move:before {
  content: "\e93d";
}

.icon-picture:before {
  content: "\e93e";
}

.icon-pinterest:before {
  content: "\e93f";
}

.icon-play:before {
  content: "\e940";
}

.icon-play-circle:before {
  content: "\e941";
}

.icon-poll:before {
  content: "\e942";
}

.icon-printer:before {
  content: "\e943";
}

.icon-rocket:before {
  content: "\e944";
}

.icon-rss:before {
  content: "\e945";
}

.icon-save:before {
  content: "\e946";
}

.icon-save-dsk:before {
  content: "\e947";
}

.icon-save-o:before {
  content: "\e948";
}

.icon-search:before {
  content: "\e949";
}

.icon-search-mobile:before {
  content: "\e94a";
}

.icon-send:before {
  content: "\e94b";
}

.icon-settings:before {
  content: "\e94c";
}

.icon-share:before {
  content: "\e94d";
}

.icon-shield:before {
  content: "\e94e";
}

.icon-star:before {
  content: "\e94f";
}

.icon-star-full:before {
  content: "\e950";
}

.icon-star-half:before {
  content: "\e951";
}

.icon-sticker-smile:before {
  content: "\e952";
}

.icon-tag:before {
  content: "\e953";
}

.icon-trash:before {
  content: "\e954";
}

.icon-twitter:before {
  content: "\e955";
}

.icon-type:before {
  content: "\e956";
}

.icon-user-new:before {
  content: "\e957";
}

.icon-users:before {
  content: "\e958";
}

.icon-users-f:before {
  content: "\e959";
}

.icon-view:before {
  content: "\e95a";
}

.icon-volume-2:before {
  content: "\e95b";
}

.icon-zoom-in:before {
  content: "\e95c";
}

.icon-zoom-out:before {
  content: "\e95d";
}

.icon-whatsapp:before {
  content: "\e95e";
}

.icon-shopping-cart:before {
  content: "\e95f";
}

.icon-phone:before {
  content: "\e960";
}

.icon-shopping-bag:before {
  content: "\e961";
}

.icon-alphabet:before {
  content: "\e962";
}
