$font-light:    'sermadre light', helvetica, sans-serif ;
$font-regular:  'sermadre regular', helvetica, sans-serif;
$font-medium:   'sermadre medium', helvetica, sans-serif;
$font-semibold: 'sermadre semibold', helvetica, sans-serif;
$font-bold:     'sermadre bold', helvetica, sans-serif;
