$shadow-level-1:    0 1px 7px -1px transparentize($color-txt, 0.5);
$shadow-level-2:    0 1px 1px 2px transparentize($color-txt, 0.7);
$shadow-level-3:    0 1px 1px 2px;
$shadow-level-4:    0 1px 1px 2px;